<div class="mycol rounded z-depth-3">
    <figure class="snip1390 mb-0 rounded-top">
      <img src="{{ imageURL }}" alt="profile-sample3" class="profile" />
      <figcaption>
        <br>     
        <h5>{{ this.UserName }}</h5>      
        <h4>{{ this.UserEmail }}</h4>
        <h6>[ {{ this.UserRole }} ]</h6> 
      </figcaption>
    </figure> 
  
    <div class="vertical-menu">
        <a class="myboder waves-light" routerLinkActive="active" routerLink="registration" mdbWavesEffect>Admin Registration</a>
      <a class="myboder myboder-b waves-light" routerLinkActive="active" routerLink="adminlist" mdbWavesEffect>Admin List</a>
    </div>   
  </div>