<div class="container">
  <div *ngIf="showSpinner == 'true'" class="bck-ovrly">
        <app-spinner class="postn"></app-spinner>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-4 wrapper log-back pl-0 pr-0 animated fadeInLeft">
      <form class="p-5" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <p class="h1 text-center">Login</p>
        <hr>

        <div class="alert alert-danger" *ngIf="invalidLogin">
          <small>Invalid or email or password</small>
        </div>
        
        <div class="pt-3">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName="email" type="email" required class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div *ngIf="email.touched && email.invalid">
          <div class="alert alert-danger" *ngIf="email.errors.email">
            <small>Invalid email</small>
          </div>
          <div class="alert alert-danger" *ngIf="email.errors.required">
            <small>Please enter email</small>
          </div>
        </div>

        <div class="mt-2">
          <label for="exampleInputPassword1">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
        </div>

        <div *ngIf="password.touched && password.invalid">
          <div class="alert alert-danger" *ngIf="password.errors.required">
            <small>Please enter password</small>
          </div>
        </div>

        <br>
        <button mdbBtn type="submit" block="true" color="deep-purple" class="waves-light mt-3"
          mdbWavesEffect>LOGIN</button>
        <a class="float-right pt-3" routerLink="forgotpswd"><small>Forgot password?</small></a>
        <br>
      </form>
    </div>

    <div class="col-md-7 wrapper">
      <div class="col-md-10 text-md-left">
        <div style="display: table; height: 450px; overflow: hidden;">
          <div style="display: table-cell; vertical-align: middle;">
            <div class="">
              <h1 class="animated fadeInRight fnt1">Sign up right now! </h1>
              <hr class="animated fadeInRight">
              <h5 class="animated fadeInRight fnt2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi
                ea dolor molestiae, quisquam iste, maiores. Nulla.</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

