.wrapper{
    margin-top: 8%;
    margin-bottom: 5%;
}

.log-back {
    // background-color: #b39ddb;
    // background-image: linear-gradient(-90deg, rgba(5, 5, 5, 0.432), rgba(7, 7, 8, 0.514));   
    background-image: linear-gradient(-90deg, rgba(0, 68, 255, 0.288), rgba(55, 0, 255, 0.342));   
}

.fnt1 {
    font-family: 'Crete Round', serif;
}

.fnt2 {
    font-family: 'Cuprum', sans-serif;
}

.postn {
    z-index: 99;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bck-ovrly {
    background:rgba(255, 255, 255, 0.5);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

