<div class="mycol rounded">
    <figure class="snip1390 mb-0 rounded-top">
      <img src="../../../assets/nobody_m.original.jpg" alt="profile-sample3" class="profile" />
      <figcaption>
        <br>
        <h5>Admin</h5>      
        <h4>Janitha Rasanga</h4>
      </figcaption>
    </figure>
  
    <div class="vertical-menu">
      <a class="myboder" href="" class="active">Dashboard</a>
      <a class="myboder" href="">Registration</a>
      <a class="myboder" href="">Attendance</a>
      <a class="myboder" href="">Class Fees</a>
      <a class="myboder myboder-b" href="">Class Schedule</a>
    </div>
  </div>
  
  