<div class="mycol rounded z-depth-3">
    <figure class="snip1390 mb-0 rounded-top">
      <img src="../../../assets/nobody_m.original.jpg" alt="profile-sample3" class="profile" />
      <figcaption>
        <br>
        <h5>Admin</h5>      
        <h4>Janitha Rasanga</h4>
      </figcaption>
    </figure>
  
    <div class="vertical-menu">
      <a class="myboder active waves-light" mdbWavesEffect>Dashboard</a>
      <a class="myboder waves-light" mdbWavesEffect>Registration</a>
      <a class="myboder waves-light" mdbWavesEffect>User List</a>
      <a class="myboder waves-light" mdbWavesEffect>Attendance</a>
      <a class="myboder waves-light" mdbWavesEffect>Class Fees</a>
      <a class="myboder myboder-b waves-light" mdbWavesEffect>Class Schedule</a>
    </div>
  </div>
  
  