<div class="mycol rounded z-depth-3">
  <figure class="snip1390 mb-0 rounded-top">
    <img src="../../../assets/nobody_m.original.jpg" alt="profile-sample3" class="profile" />
    <figcaption>
      <br>
      <h5>{{ this.UserName }}</h5>      
      <h4>{{ this.UserEmail }}</h4>
    </figcaption>
  </figure>

  <div class="vertical-menu">
    <a class="myboder waves-light" routerLinkActive="active" routerLink="dashboard" mdbWavesEffect>Dashboard</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="registration" mdbWavesEffect>Registration</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="userlist" mdbWavesEffect>User List</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="attendance" mdbWavesEffect>Attendance</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink="classfees" mdbWavesEffect>Class Fees</a>
    <a class="myboder myboder-b waves-light" routerLinkActive="active" routerLink="classschedule" mdbWavesEffect>Class Schedule</a>
  </div>   
</div>
  
  