<div class="mycol rounded z-depth-3">
  <div class="bd-col p-3 bck-col">
    <h3 class="pl-3">Users List</h3>
  </div>

  <div class="mdb-color mdb-color darken-3">
      <p class="p-3 text-white ml-4">Search User</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <!-- <form class="form-inline md-form form-sm active-cyan active-cyan-2">
        <input class="form-control form-control-sm ml-3 w-100 bl" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
      </form> -->
      <form class="form-inline animated fadeIn">
        <input class="form-control mr-sm-2 col-md-9" type="search" placeholder="Search" aria-label="Search">
        <button mdbBtn type="button" size="md" color="deep-purple" class="waves-light" mdbWavesEffect>Search</button>
      </form>
      <p class="text-center mt-3">No user search yet..</p>
        
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="mdb-color mdb-color darken-3">
    <p class="p-3 text-white ml-4">Users List</p>
  </div>

  <div class="white animated fadeIn">
  <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">First Name</th>
        <th class="th-sm">Last Name</th>
        <th class="th-sm">Birthday</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">Batch/Grade</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tiger</td>
        <td>Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>
          <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true" mdbTooltip="More Information" placement="bottom"></i>
          <i class="fa fa-user-plus mr-2" aria-hidden="true" mdbTooltip="Edit User" placement="bottom"></i>
          <i class="fa fa-user-times mr-2" aria-hidden="true" mdbTooltip="Delete User" placement="bottom"></i>
        </td>
      </tr>
      <tr>
        <td>Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Ashton </td>
        <td>Junior</td>
        <td>Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Kelly</td>
        <td>Senior</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2012/03/29</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Airi Satou</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>33</td>
        <td>2008/11/28</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Brielle </td>
        <td>Integration</td>
        <td>New York</td>
        <td>61</td>
        <td>2012/12/02</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Herrod</td>
        <td>Assistant</td>
        <td>Francisco</td>
        <td>59</td>
        <td>2012/08/06</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Davidson</td>
        <td>Specialist</td>
        <td>Tokyo</td>
        <td>55</td>
        <td>2010/10/14</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Colleen</td>
        <td>Javascript</td>
        <td>Francisco</td>
        <td>39</td>
        <td>2009/09/15</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Sonya</td>
        <td>Softwarer</td>
        <td>Edinburgh</td>
        <td>23</td>
        <td>2008/12/13</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Jena </td>
        <td>Office Manager</td>
        <td>London</td>
        <td>30</td>
        <td>2008/12/19</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Quinn Flynn</td>
        <td>Support Lead</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2013/03/03</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Charde Marshall</td>
        <td>Regional Director</td>
        <td>San Francisco</td>
        <td>36</td>
        <td>2008/10/16</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Haley Kennedy</td>
        <td>SeniorDesigner</td>
        <td>London</td>
        <td>43</td>
        <td>2012/12/18</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Tatyanzpatrick</td>
        <td>Regionrector</td>
        <td>London</td>
        <td>19</td>
        <td>2010/03/17</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Michaeilva</td>
        <td>Marketsigner</td>
        <td>London</td>
        <td>66</td>
        <td>2012/11/27</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Paul Byrd</td>
        <td>Chief </td>
        <td>New York</td>
        <td>64</td>
        <td>2010/06/09</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Gloria Little</td>
        <td>Systemstrator</td>
        <td>New Yor</td>
        <td>59</td>
        <td>2009/04/10</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Bradley Greer</td>
        <td>Softwareer</td>
        <td>London</td>
        <td>41</td>
        <td>2012/10/13</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Dai Rios</td>
        <td>Personn</td>
        <td>Edinburgh</td>
        <td>35</td>
        <td>2012/09/26</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Jenette Caldwell</td>
        <td>DevelopLead</td>
        <td>New York</td>
        <td>30</td>
        <td>2011/09/03</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Yuri Berry</td>
        <td>Chief </td>
        <td>New York</td>
        <td>40</td>
        <td>2009/06/25</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Caesar Vance</td>
        <td> Support</td>
        <td>New York</td>
        <td>21</td>
        <td>2011/12/12</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Doris Wilder</td>
        <td>Sales Assistant</td>
        <td>Sidney</td>
        <td>23</td>
        <td>2010/09/20</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Angelica Ramos</td>
        <td>Chief</td>
        <td>London</td>
        <td>47</td>
        <td>2009/10/09</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Gavin Joyce</td>
        <td>Developer</td>
        <td>Edinburgh</td>
        <td>42</td>
        <td>2010/12/22</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>
      <tr>
        <td>Jennifer Chang</td>
        <td>Regional Director</td>
        <td>Singapore</td>
        <td>28</td>
        <td>2010/11/14</td>
        <td>
            <i class="fa fa-info-circle mr-2 ml-1" aria-hidden="true"></i>
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
            <i class="fa fa-user-times mr-2" aria-hidden="true"></i>
          </td>
      </tr>

    </tbody>
  </table>
  </div>
</div>
