<div class="mycol rounded z-depth-3">
  <div class="bd-col p-3 bck-col">
    <h3 class="pl-3">Users List</h3>
  </div>

  <div class="mdb-color mdb-color darken-3">
    <div class="form-group row">
      <div class="col-md-3">
        <p class="p-3 text-white ml-4 mb-0">Select Role</p>
      </div>
      <div class="col-md-9">
        <div class="text-white p-3">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" (click)="selectRole('Student')" class="custom-control-input" id="defaultChecked2" name="inlineDefaultRadiosExample"
              checked mdbInputDirective>
            <label class="custom-control-label" for="defaultChecked2">Student</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" (click)="selectRole('Teacher')" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample"
              mdbInputDirective>
            <label class="custom-control-label" for="defaultInline2">Teacher</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" (click)="selectRole('Paper Marker')" class="custom-control-input" id="defaultInline3"
              name="inlineDefaultRadiosExample" mdbInputDirective>
            <label class="custom-control-label" for="defaultInline3">Paper Maker</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" (click)="selectRole('Card Marker')" class="custom-control-input" id="defaultInline4"
              name="inlineDefaultRadiosExample" mdbInputDirective>
            <label class="custom-control-label" for="defaultInline4">Card Maker</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-md-8">
      <hr>
    </div>
    <div class="col-md-4">
      <form class="form-inline animated fadeIn">
        <input class="form-control mr-sm-2 col-md-12" type="search" placeholder="Search" aria-label="Search"
          #searchValue (keyup)="searchByName($event.target)">
      </form>
    </div>
  </div>

  <div class="white animated fadeIn hvr">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Index No</th>
          <th class="th-sm">First Name</th>
          <th class="th-sm">Last Name</th>
          <th class="th-sm">Email</th>
          <th class="th-sm">mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="cell">
          <td (click)="frame.show(user)" mdbTooltip="Click here to View More Details or Update or Delete" placement="top">{{user.indexNo}}</td>
          <td (click)="frame.show(user)" mdbTooltip="Click here to View More Details or Update or Delete" placement="top">{{user.firstName}}</td>
          <td (click)="frame.show(user)" mdbTooltip="Click here to View More Details or Update or Delete" placement="top">{{user.lastName}}</td>
          <td (click)="frame.show(user)" mdbTooltip="Click here to View More Details or Update or Delete" placement="top">{{user.email}}</td>
          <td (click)="frame.show(user)" mdbTooltip="Click here to View More Details or Update or Delete" placement="top">{{user.contactDetails.mobileNumber}}</td>

          <!-- user modal -->
          <div mdbModal style="overflow-y: auto" class="">
            <div [config]="{backdrop: false, ignoreBackdropClick: false}" mdbModal #frame="mdbModal" style="overflow-y: auto"
              class="modal fade bck-ovrly" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header d-flex justify-content-center mdb-color darken-3">
                    <p class="heading">User Details</p>
                    <button type="button" class="close zz" data-dismiss="modal" aria-label="Close" (click)="fireEvent2()" (click)="frame.hide()">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="text-center mt-3">
                          <img src="../../../assets/nobody_m.original.jpg" alt="profile-sample3" class="profile2 mb-3" />
                          <h5 class="fntStyl mb-0">{{user.firstName}}</h5>
                          <h5 class="fntStyl">{{user.lastName}}</h5>
                          <hr>
                          <p class=""><strong>Role : {{user.role}}</strong></p>
                          <p><strong>Role Id : {{user.indexNo}}</strong></p>
                        </div>
                      </div>
                      <div class="col-md-9 block-example border-left border-light">
                        <div class="mt-3 ml-3">
                          <div class="animated fadeIn" *ngIf="!toggleForm">
                            <p><strong>Full Name :</strong> {{user.fullName}}</p>
                            <p><strong>Birthday :</strong> {{user.birthday}}</p>
                            <p *ngIf="role != 'Student'"><strong>NIC No :</strong> {{user.nicNo}}</p>
                            <p><strong>Gender :</strong> {{user.gender}}</p>
                            <p><strong>Email :</strong> {{user.email}}</p>
                            <p *ngIf="role == 'Student'"><strong>School :</strong> {{user.school}}</p>
                            <p><strong>Address :</strong> {{user.address.firstLine}}, {{user.address.secondLine}},
                              {{user.address.city}}, {{user.address.district}}</p>
                            <p><strong>Contact :</strong> Mob -
                              {{user.contactDetails.mobileNumber}}&nbsp;&nbsp;&nbsp;&nbsp; Land -
                              {{user.contactDetails.landNumber}}</p>
                            <p *ngIf="role == 'Student'"><strong>Batch :</strong> {{user.batch}}</p>
                            <p *ngIf="role == 'Student'"><strong>Mother Name :</strong>
                              {{user.contactDetails.motherName}}</p>
                            <p *ngIf="role == 'Student'"><strong>Mother Contact :</strong>
                              {{user.contactDetails.momNumber}}</p>
                            <p *ngIf="role == 'Student'"><strong>Father Name :</strong>
                              {{user.contactDetails.fatherName}}</p>
                            <p *ngIf="role == 'Student'"><strong>Father Contact :</strong>
                              {{user.contactDetails.dadNumber}}</p>
                            <p *ngIf="role == 'Student'"><strong>Gardian Name :</strong>
                              {{user.contactDetails.gardianName}}</p>
                            <p *ngIf="role == 'Student'"><strong>Gardian Contact :</strong>
                              {{user.contactDetails.gardianNumber}}</p>
                          </div>

                          <!-- update form 4 all n long code -->
                          <div *ngIf="toggleForm">

                            <form class="pl-2 pr-2 animated fadeIn" [formGroup]="form8" (ngSubmit)="onSubmitEdit(form8,user)">

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Full Name</label>
                                <div class="col-sm-9">
                                  <input formControlName="fullName" type="text" class="form-control" id="" placeholder="Full Name">
                                  <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">
                                    <small>Please enter full name</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-3 col-form-label">First Name</label>
                                <div class="col-sm-5">
                                  <input formControlName="firstName" type="text" class="form-control" id="" placeholder="First Name">
                                  <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                                    <small>Please enter first name</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Last Name</label>
                                <div class="col-sm-5">
                                  <input formControlName="lastName" type="text" class="form-control" id="" placeholder="Last Name">
                                  <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                                    <small>Please enter last name</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="birthday" class="col-sm-3 col-form-label">Birthday</label>
                                <div class="col-sm-5">
                                  <input formControlName="birthday" type="date" class="form-control" id="birthday"
                                    placeholder="yyyy/mm/dd">
                                  <div class="alert alert-danger" *ngIf="birthday.touched && birthday.invalid">
                                    <small>Please select birthday</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role != 'Student'">
                                <label for="inputnicNo" class="col-sm-3 col-form-label">NIC No</label>
                                <div class="col-sm-5">
                                  <input formControlName="nicNo" type="text" class="form-control" id="" placeholder="NIC No">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-5">
                                  <select formControlName="gender" id="inputState" class="form-control">
                                    <option value="">Choose Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                  </select>
                                  <div class="alert alert-danger" *ngIf="gender.touched && gender.invalid">
                                    <small>Please select gender</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-5">
                                  <input formControlName="email" type="email" class="form-control" id="inputEmail3"
                                    placeholder="Email">
                                  <div *ngIf="email.touched && email.invalid">
                                    <div class="alert alert-danger" *ngIf="email.errors.email">
                                      <small>Invalid email</small>
                                    </div>
                                    <div class="alert alert-danger" *ngIf="email.errors.required">
                                      <small>Please enter email</small>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputSchool" class="col-sm-3 col-form-label">School</label>
                                <div class="col-sm-5">
                                  <input formControlName="school" type="text" class="form-control" id="school"
                                    placeholder="School">
                                  <div class="alert alert-danger" *ngIf="school.touched && school.invalid">
                                    <small>Please enter School</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Contact</label>
                                <div class="col-sm-4">
                                  <input formControlName="mobileNumber" type="text" class="form-control" id=""
                                    placeholder="Mobile 07********">
                                  <div class="alert alert-danger" *ngIf="mobileNumber.touched && mobileNumber.invalid">
                                    <small *ngIf="mobileNumber.errors.required">Enter mobile number</small>
                                    <small *ngIf="mobileNumber.errors.minlength">Should be minimum 10 numbers<br></small>
                                    <small *ngIf="mobileNumber.errors.maxlength">Should be maximum 10 numbers<br></small>
                                    <small *ngIf="mobileNumber.errors.pattern">Doesn't match to number pattern</small>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <input formControlName="landNumber" type="text" class="form-control" id=""
                                    placeholder="Land-line 07******** (optional)">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                  <input formControlName="firstLine" type="text" class="form-control mt-1" id=""
                                    placeholder="Address Line 1">
                                  <div class="alert alert-danger" *ngIf="firstLine.touched && firstLine.invalid">
                                    <small>Fill address line 1</small>
                                  </div>
                                  <input formControlName="secondLine" type="text" class="form-control mt-1" id=""
                                    placeholder="Address Line 2">
                                  <div class="alert alert-danger" *ngIf="secondLine.touched && secondLine.invalid">
                                    <small>Fill address line 2</small>
                                  </div>
                                  <div class="row mt-1">
                                    <div class="col-sm-6">
                                      <input formControlName="city" type="text" class="form-control" id="" placeholder="City">
                                      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                        <small>Fill city</small>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <select formControlName="district" id="inputState" class="form-control">
                                        <option value="">Distric</option>
                                        <option>Anuradhapura</option>
                                        <option>Colombo</option>
                                        <option>Gampaha</option>
                                        <option>Rathnapura</option>
                                        <option>Kagalla</option>
                                        <option>Mathara</option>
                                      </select>
                                      <div class="alert alert-danger" *ngIf="district.touched && district.invalid">
                                        <small>Select district</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Batch</label>
                                <div class="col-sm-5">
                                  <select formControlName="batch" id="inputState" class="form-control">
                                    <option value="">Choose year</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                  </select>
                                  <div class="alert alert-danger" *ngIf="batch.touched && batch.invalid">
                                    <small>Select batch</small>
                                  </div>
                                </div>
                                <div class="col-sm-5">
                                  <!-- <select id="inputState" class="form-control">
                                    <option #clz *ngFor="let clz of clzes" class="cell">{{ clz.name }}</option>
                                  </select> -->
                                </div>
                              </div>

                              <!-- <div formGroupName="clzes" class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-3 col-form-label">Class(es)</label>
                                <div class="col-sm-4">
                                  <input #subject id="inputState" class="form-control" placeholder="Type Subject">
                                  <select #clz id="inputState" class="form-control">
                                    <option>Choose Class</option>
                                    <option *ngFor="let clz of classes" class="cell">{{ clz.subjectName }}</option>
                                    <div class="col-sm-3">
                                      <div class="btn btn-danger btn-sm" (click)="addClz(clz)">Add</div>
                                    </div>
                                  </select>
                                </div>
                                
                                <div class="col-sm-3">
                                  <div class="btn btn-danger btn-sm" (click)="addClz(clz)">Add</div>
                                </div>
                              </div> -->

                              <div class="form-group row">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Class(es)</label>
                                <div class="col-sm-4">
                                  <!-- <input #subject id="inputState" class="form-control" placeholder="Type Subject"> -->
                                  <select #clz id="inputState" class="form-control">
                                    <option *ngFor="let clz of classes" class="cell">{{ clz.clzNo }}</option>
                                  </select>
                                </div>
                                <div class="col-sm-3">
                                  <div class="btn btn-danger btn-sm" (click)="addclz(clz)">Add</div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <ul class="list-group col-sm-4 ml-3">
                                  <li class="list-group-item list-group-item-info" *ngFor="let topic of printArray" (click)="removeClz(topic)">{{topic}}</li>
                                </ul>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <div class="col-sm-2"></div>
                                <ul class="list-group col-sm-4 ml-3">
                                  <li class="list-group-item list-group-item-info" *ngFor="let topic of clzes.value"
                                    (click)="removeClz(topic)">{{topic}}</li>
                                </ul>
                              </div>

                              <hr *ngIf="role == 'Student'">
                              <div class="pb-3" *ngIf="role == 'Student'">
                                <h5><strong>Parent Information >></strong></h5>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Father</label>
                                <div class="col-sm-10">
                                  <input formControlName="fatherName" type="text" class="form-control" id=""
                                    placeholder="Father Name">
                                  <div class="alert alert-danger" *ngIf="fatherName.touched && fatherName.invalid">
                                    <small>Enter father name</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Contact</label>
                                <div class="col-sm-5">
                                  <input formControlName="dadNumber" type="text" class="form-control" id="" placeholder="Contact Number">
                                  <div class="alert alert-danger" *ngIf="dadNumber.touched && dadNumber.invalid">
                                    <small>Enter father contact number</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Mother</label>
                                <div class="col-sm-10">
                                  <input formControlName="motherName" type="text" class="form-control" id=""
                                    placeholder="Mother Name">
                                  <div class="alert alert-danger" *ngIf="motherName.touched && motherName.invalid">
                                    <small>Enter mother name</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Contact</label>
                                <div class="col-sm-5">
                                  <input formControlName="momNumber" type="text" class="form-control" id="" placeholder="Contact Number">
                                  <div class="alert alert-danger" *ngIf="momNumber.touched && momNumber.invalid">
                                    <small>Enter mother contact number</small>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Guardian</label>
                                <div class="col-sm-10">
                                  <input formControlName="gardianName" type="text" class="form-control" id=""
                                    placeholder="Gardian Name (Optonal)">
                                </div>
                              </div>

                              <div class="form-group row" *ngIf="role == 'Student'">
                                <label for="inputFullame" class="col-sm-2 col-form-label">Contact</label>
                                <div class="col-sm-5">
                                  <input formControlName="gardianNumber" type="text" class="form-control" id=""
                                    placeholder="Contact Number (Optonal)">
                                </div>
                              </div>

                              <hr>
                              <button (click)="fireEvent()" mdbBtn type="button" color="danger" class="waves-light col-sm-3 float-right"
                                mdbWavesEffect>Cancel</button>
                              <button [disabled]="form8.invalid" mdbBtn type="submit" color="indigo" class="waves-light col-sm-3 float-right"
                                mdbWavesEffect>Save</button>
                              <!-- <button (click)="fireEvent2()" [disabled]="form8.invalid" mdbBtn type="submit" color="indigo" class="waves-light col-sm-3 float-right"
                                mdbWavesEffect>Save</button> -->
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Footer-->
                  <div class="modal-footer flex-center">
                    <button type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect data-dismiss="modal"
                      (click)="updateUser(user)" [disabled]="toggleForm">Update User</button>

                    <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect data-dismiss="modal"
                      (click)="deleteUser(user)" [disabled]="toggleForm">Delete User</button>

                    <!-- <button type="button" mdbBtn color="indigo" class="waves-light" mdbWavesEffect data-dismiss="modal"
                      (click)="frame.hide()">close</button> -->
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
          </div>
          <!-- user modal -->

        </tr>
      </tbody>
    </table>
  </div>

</div>