.mycol {
    padding: 25px;
    height: 750px;
    display: table;
    width: 100%;
    background-color:rgb(228, 228, 228);
}

.bck-col {
    color: white;
    background-color: #1C2331;
    // background-image: linear-gradient(90deg, rgba(2, 2, 2, 0.226) 0%, rgba(172, 172, 172, 0.308) 100%); 
}

.bd-col {
    border-style: solid;
    border-color: #1C2331;
    border-radius: 5px 5px 0 0;
}

.bd-cl {
    border: 1px solid rgb(199, 199, 199);
}

.cell{
    cursor: pointer;
}

.ckbx-clr {
 background-color: rgb(240, 240, 240);
}

.hvr tbody tr:hover {
    background-color: #0c104273;
  }

.profile2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border: solid 2px #A6A57A;
}