<form class="pl-2 pr-2" [formGroup]="form2" (ngSubmit)="onSubmit(form2)">
  <hr>
  <div class="pb-3">
      <h5><strong>Basic Information >></strong></h5>
  </div>
  
  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-10">
      <input formControlName="fullname" type="text" class="form-control" id="" placeholder="Full Name">
      <div class="alert alert-danger" *ngIf="fullname.touched && fullname.invalid">
        <small>Please enter full name</small>
      </div>    
    </div>
  </div>

  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-4">
      <input formControlName="firstname" type="text" class="form-control" id="" placeholder="First Name">    
      <div class="alert alert-danger" *ngIf="firstname.touched && firstname.invalid">
        <small>Please enter first name</small>
      </div>    
    </div>

    <label for="inputFullame" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-4">
      <input formControlName="lastname" type="text" class="form-control" id="" placeholder="Last Name">
      <div class="alert alert-danger" *ngIf="lastname.touched && lastname.invalid">
        <small>Please enter last name</small>
      </div>  
    </div>
  </div>

  <div formGroupName="birthday" class="form-group row">
    <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
    <div class="col-sm-4">
      <select formControlName="year" id="inputState" class="form-control">
        <option value="">Year</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
      </select>
      <div class="alert alert-danger" *ngIf="year.touched && year.invalid">
        <small>Please select year</small>
      </div>
    </div>
    <div class="col-sm-2">
      <select formControlName="month" id="inputState" class="form-control">
        <option value="">Month</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
      </select>
      <div class="alert alert-danger" *ngIf="month.touched && month.invalid">
        <small>Please select month</small>
      </div>  
    </div>
    <div class="col-sm-2">
      <select formControlName="day" id="inputState" class="form-control">
        <option value="">Day</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
      </select>
      <div class="alert alert-danger" *ngIf="day.touched && day.invalid">
        <small>Please select day</small>
      </div>    
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input formControlName="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
      <div *ngIf="email.touched && email.invalid">
        <div class="alert alert-danger" *ngIf="email.errors.email">
          <small>Invalid email</small>
        </div>
        <div class="alert alert-danger" *ngIf="email.errors.required">
          <small>Please enter email</small>
        </div>
      </div>    
    </div>
  </div>

  <div formGroupName="contact" class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Contact</label>
    <div class="col-sm-5">
      <input formControlName="mobile" type="text" class="form-control" id="" placeholder="Mobile Number">
      <div *ngIf="mobile.touched && mobile.invalid">
        <div class="alert alert-danger" *ngIf="mobile.errors.required">
          <small>Enter mobile mumber</small>
        </div>
        <div class="alert alert-danger" *ngIf="mobile.errors.minlenght">
          <small>Should be 10 numbers</small>
        </div>
      </div> 
    </div>
    <div class="col-sm-5">
      <input formControlName="landLine" type="text" class="form-control" id="" placeholder="Land-line Number">
    </div>
  </div>

  <div formGroupName="address" class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input formControlName="line1" type="text" class="form-control mt-1" id="" placeholder="Address Line 1">
      <div class="alert alert-danger" *ngIf="line1.touched && line1.invalid">
        <small>Fill address line 1</small>
      </div> 
      <input formControlName="line2" type="text" class="form-control mt-1" id="" placeholder="Address Line 2">
      <div class="alert alert-danger" *ngIf="line2.touched && line2.invalid">
        <small>Fill address line 2</small>
      </div> 
      <div class="row mt-1">
        <div class="col-sm-6">
          <input formControlName="city" type="text" class="form-control" id="" placeholder="City">
          <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            <small>Fill city</small>
          </div> 
        </div>
        <div class="col-sm-6">
          <select formControlName="district" id="inputState" class="form-control">
            <option value="">Distric</option>
            <option>Anuradhapura</option>
            <option>Colombo</option>
            <option>Gampaha</option>
            <option>Rathnapura</option>
          </select>
          <div class="alert alert-danger" *ngIf="district.touched && district.invalid">
            <small>Select district</small>
          </div>         
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="pb-3">
    <h5><strong>Class Information >></strong></h5>
  </div>

  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Subject</label>
    <div class="col-sm-5">
      <select formControlName="teaSub" id="inputState" class="form-control">
        <option value="">Choose subject</option>
        <option>Maths</option>
        <option>Physics</option>
        <option>Chemistry</option>
      </select>
      <div class="alert alert-danger" *ngIf="teaSub.touched && teaSub.invalid">
        <small>Select subject</small>
      </div>    
    </div>
  </div>

  <div formGroupName="teaBatchs" class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Batch(es)</label>
    <div class="col-sm-10">
      <div formGroupName="teaBatch1" class="row">
        <div class="col-sm-4">
          <select formControlName="teaYear1" id="inputState" class="form-control">
            <option value="">Choose year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>             
          <div class="alert alert-danger" *ngIf="teaYear1.touched && teaYear1.invalid">
            <small>Select year</small>
          </div>  
        </div>
        <div class="col-sm-4">
          <select formControlName="teaClass1" id="inputState" class="form-control">
            <option value="">Choose class</option>
            <option>A/L</option>
            <option>O/L</option>
          </select>
          <div class="alert alert-danger" *ngIf="teaClass1.touched && teaClass1.invalid">
            <small>Select class</small>
          </div>   
        </div>
      </div>
      <div formGroupName="teaBatch2" class="row mt-1">
        <div class="col-sm-4">
          <select formControlName="teaYear2" id="inputState" class="form-control">
            <option value="">Choose year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>             
          <div class="alert alert-danger" *ngIf="teaYear2.touched && teaYear2.invalid">
            <small>Select year</small>
          </div>       
        </div>
        <div class="col-sm-4">
          <select formControlName="teaClass2" id="inputState" class="form-control">
            <option value="">Choose class</option>
            <option>A/L</option>
            <option>O/L</option>
          </select>
          <div class="alert alert-danger" *ngIf="teaClass2.touched && teaClass2.invalid">
            <small>Select class</small>
          </div>    
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="pl-3"></div>
        <button type="button" class="btn btn-primary col-sm-2"><strong>+</strong></button>          
        <button type="button" class="btn btn-danger col-sm-2"><strong>-</strong></button>          
      </div>
    </div> -->
  </div> 
  <hr>
  <button mdbBtn type="submit" color="indigo" class="waves-light col-sm-3 float-right" mdbWavesEffect>Submit</button>
</form>