<form class="pl-2 pr-2" [formGroup]="form2" (ngSubmit)="onSubmit(form2)">
  <hr>
  <div class="pb-3">
      <h5><strong>Basic Information >></strong></h5>
  </div>
  
  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-10">
      <input formControlName="fullName" type="text" class="form-control" id="" placeholder="Full Name">
      <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">
        <small>Please enter full name</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-4">
      <input formControlName="firstName" type="text" class="form-control" id="" placeholder="First Name">
      <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
        <small>Please enter first name</small>
      </div>
    </div>

    <label for="inputFullame" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-4">
      <input formControlName="lastName" type="text" class="form-control" id="" placeholder="Last Name">
      <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
        <small>Please enter last name</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputnicNo" class="col-sm-2 col-form-label">NIC No</label>
    <div class="col-sm-4">
      <input formControlName="nicNo" type="text" class="form-control" id="" placeholder="NIC No">
    </div>
  </div>

  <div  class="form-group row">
    <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
    <div class="col-sm-10">
      <input formControlName="birthday" type="text" class="form-control" id="birthday" placeholder="yyyy/mm/dd">
      <div class="alert alert-danger" *ngIf="birthday.touched && birthday.invalid">
        <small>Please select birthday</small>
      </div>  
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input formControlName="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
      <div *ngIf="email.touched && email.invalid">
        <div class="alert alert-danger" *ngIf="email.errors.email">
          <small>Invalid email</small>
        </div>
        <div class="alert alert-danger" *ngIf="email.errors.required">
          <small>Please enter email</small>
        </div>
      </div>    
    </div>
  </div>

  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Contact</label>
    <div class="col-sm-5">
      <input formControlName="mobileNumber" type="text" class="form-control" id="" placeholder="Mobile Number">
      <div class="alert alert-danger" *ngIf="mobileNumber.touched && mobileNumber.invalid">
        <small>Enter mobile mumber</small>
      </div>
    </div>
    <div class="col-sm-5">
      <input formControlName="landNumber" type="text" class="form-control" id="" placeholder="Land-line Number">
    </div>
  </div>

  <div  class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input formControlName="firstLine" type="text" class="form-control mt-1" id="" placeholder="Address Line 1">
      <div class="alert alert-danger" *ngIf="firstLine.touched && firstLine.invalid">
        <small>Fill address line 1</small>
      </div>
      <input formControlName="secondLine" type="text" class="form-control mt-1" id="" placeholder="Address Line 2">
      <div class="alert alert-danger" *ngIf="secondLine.touched && secondLine.invalid">
        <small>Fill address line 2</small>
      </div>
      <div class="row mt-1">
        <div class="col-sm-6">
          <input formControlName="city" type="text" class="form-control" id="" placeholder="City">
          <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            <small>Fill city</small>
          </div>
        </div>
        <div class="col-sm-6">
          <select formControlName="district" id="inputState" class="form-control">
            <option value="">Distric</option>
            <option>Anuradhapura</option>
            <option>Colombo</option>
            <option>Gampaha</option>
            <option>Rathnapura</option>
          </select>
          <div class="alert alert-danger" *ngIf="district.touched && district.invalid">
            <small>Select district</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <!-- <div class="pb-3">
    <h5><strong>Class Information >></strong></h5>
  </div>

  <div class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Subject</label>
    <div class="col-sm-5">
      <select formControlName="teaSub" id="inputState" class="form-control">
        <option value="">Choose subject</option>
        <option>Maths</option>
        <option>Physics</option>
        <option>Chemistry</option>
      </select>
      <div class="alert alert-danger" *ngIf="teaSub.touched && teaSub.invalid">
        <small>Select subject</small>
      </div>    
    </div>
  </div>

  <div formGroupName="teaBatchs" class="form-group row">
    <label for="inputFullame" class="col-sm-2 col-form-label">Batch(es)</label>
    <div class="col-sm-10">
      <div formGroupName="teaBatch1" class="row">
        <div class="col-sm-4">
          <select formControlName="teaYear1" id="inputState" class="form-control">
            <option value="">Choose year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>             
          <div class="alert alert-danger" *ngIf="teaYear1.touched && teaYear1.invalid">
            <small>Select year</small>
          </div>  
        </div>
        <div class="col-sm-4">
          <select formControlName="teaClass1" id="inputState" class="form-control">
            <option value="">Choose class</option>
            <option>A/L</option>
            <option>O/L</option>
          </select>
          <div class="alert alert-danger" *ngIf="teaClass1.touched && teaClass1.invalid">
            <small>Select class</small>
          </div>   
        </div>
      </div>
      <div formGroupName="teaBatch2" class="row mt-1">
        <div class="col-sm-4">
          <select formControlName="teaYear2" id="inputState" class="form-control">
            <option value="">Choose year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>             
          <div class="alert alert-danger" *ngIf="teaYear2.touched && teaYear2.invalid">
            <small>Select year</small>
          </div>       
        </div>
        <div class="col-sm-4">
          <select formControlName="teaClass2" id="inputState" class="form-control">
            <option value="">Choose class</option>
            <option>A/L</option>
            <option>O/L</option>
          </select>
          <div class="alert alert-danger" *ngIf="teaClass2.touched && teaClass2.invalid">
            <small>Select class</small>
          </div>    
        </div>
      </div>
    </div> -->

    <!-- <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="pl-3"></div>
        <button type="button" class="btn btn-primary col-sm-2"><strong>+</strong></button>          
        <button type="button" class="btn btn-danger col-sm-2"><strong>-</strong></button>          
      </div>
    </div> -->
  <!-- </div>  -->
  <!-- <hr> -->
  <button [disabled]="form2.invalid" mdbBtn type="submit" color="indigo" class="waves-light col-sm-3 float-right" mdbWavesEffect>Submit</button>
</form>