<div class="mycol rounded z-depth-3">
  <div class="bd-col p-3 bck-col">
    <h3 class="pl-3">View Papers</h3>
  </div>
  <div class="mdb-color mdb-color darken-3">
    <p class="p-3 text-white ml-4"></p>
  </div>

  <hr>

  <div class="dropdown" mdbDropdown>

    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>Select
      Class Id
    </button>


    <div class="dropdown-menu dropdown-primary">
      <a *ngFor="let clz of clzes" class="" value="">{{ clz.clzNo }}</a>
    </div>
  </div>



  <hr>

  <div class="white animated fadeIn hvr">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Paper Id</th>
          <th class="th-sm">Date</th>
          <th class="th-sm">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paper of papers" class="cell">
          <td>{{paper.paperNo}}</td>
          <td>{{paper.date | datePipe}}</td>
          <td>{{paper.clz.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>