/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e1e8a5;
}

.bg {
    /* The image used */
    background-image: url("./assets/pic/background-clips-eraser-584305.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
}