<div class="container">

  <div class="jumbotron text-center">
    <h2 class="card-title h2">Forgot Your Password?</h2>

    <img src="../../assets/pic/forgot_password_371007.png" style="height: 200px; overflow: hidden;" class="img-fluid" alt="">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 pb-2">
  
        <p class="card-text">Please enter your email address below to start the process of resetting your password</p>
      </div>
    </div>
  
    <hr class="my-4">
  
    <div class="pt-2">
      <button type="button" mdbBtn color="blue" mdbWavesEffect>Buy now <mdb-icon icon="diamond" class="ml-1"></mdb-icon> </button>
      <button type="button" mdbBtn color="primary" outline="true" mdbWavesEffect> Download <mdb-icon icon="download" class="ml-1"></mdb-icon></button>
    </div>
  
  </div>
</div>
  

      <!-- <h1 class="animated fadeInRight fnt1">Sign up right now! </h1>
      <hr class="animated fadeInRight">
      <h5 class="animated fadeInRight fnt2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
        repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi
        ea dolor molestiae, quisquam iste, maiores. Nulla.</h5> -->
